# =========================
# IGNORE EVERYTHING BY DEFAULT
# =========================
*

# =========================
# ALLOW ONLY WHAT WE WANT
# =========================

# Core files
!README.md
!.gitignore
!LICENSE

# Scripts
!install.sh
!scripts/
!scripts/**

# Shell configs
!shell/
!shell/**

# KDE THEMES & ICONS ONLY
!kde/
!kde/**
JetBrainsMono-1.0.3.zip

# Screenshots
!screenshots/
!screenshots/**

#Kitty
!kitty/
!kitty/**

# =========================
# EXPLICITLY IGNORE KDE STATE
# =========================
.config/**
.local/**
.cache/**
.var/**

# =========================
# KDE GENERATED / CACHE FILES
# =========================
**/icon-theme.cache
**/*.qmlc
**/*.jsc

# =========================
# SECRETS / NOISE
# =========================
*.history
*.log
.env
.ssh/**
.gnupg/**
.vscode/**